.contacts {
    .wrapper {
        display: flex;
        .map {
            padding: 30px 60px 60px 60px;
            width: 60%;
            position: relative;
            h2 {
                margin-bottom: 20px;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 20px 60px 20px;
                position: absolute;
                top: 60;
                left: 69px;
                z-index: 1;
                background: #fff;
                height: calc(100% - 178px);
                // width: 256px;
                width: 315px;
                .phones {
                    display: flex;
                    flex-direction: column;
                }
                .social {
                    .images {    
                        display: flex;              
                        .img {
                            width: fit-content;
                            cursor: pointer;
                            margin-right: 7px;
                        }
                    }

                }
                h3 {
                    color: #1f50a1;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-bottom: 7px;
                    margin-top: 20px;
                }
                a, p {
                    font-size: 20px;
                    color: #000;
                    font-weight: 500;
                    text-decoration: none;
                }
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }


            }
        }
        .img {
            width: 40%;
            img {
                height: 100%;
                max-width: 100%;
            }
        }
    }
}