.agreement {
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        .content {
            padding: 60px;
            h4 {
                font-size: 30px;
                
            }
            p {
                margin-top: 25px;
                font-size: 15px;
                line-height: 1.5;
            }
        }
        .images {
            // max-width: 40%;
            // width: fit-content;
            height: 500px;
            img {
                height: 100%;
                // max-width: none;
                // transform: translate(-70px);
            }
        }
    }
}

@media screen and (max-width: 1394px) {
    .agreement {
        background-color: #1a1a1a;
        .wrapper {
            display: flex;
            height: 100%;
            // padding: 10px 0;
            .content {
                flex: 1;
                background-color: #fff;
                padding: 60px 30px 60px 60px;
                max-width: 100%;
                transition: all .3s ease-in-out;
                h3 {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 55px;
                }
                .text {
                    padding: 0px 24px;
                    strong {
                        font-weight: 700;
                        line-height: 1.5;
                        font-size: 20px;
                        margin-bottom: 20px;
                        display: block;
                    }
                    p {
                        line-height: 1.5;
                        font-size: 20px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                }
                .table {
    
                    .tbody {
                        margin-bottom: 30px;
                        border: 1px solid #dedede;
                        border-collapse: collapse;
                        .title {
                            text-align: center;
                            padding: 7px;
                            background: #38af48;
                            color: #fff;
                            font-size: 20px;
                        }
                        tr {
                            border: 1px solid #dedede;
                            border-collapse: collapse;
                            .strong {
                                text-align: center;
                                font-weight: 700;
                            }
                            td {
                                padding: 7px;
                                border-collapse: collapse;
                                border: 1px solid #dedede;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .images, .imagesActive {
                
                width: fit-content;
                max-width: 40%;
                position: sticky;
                top: 0;
                transition: all .3s ease-in-out;
                // transform: translate(0, -50%);
                // margin: auto;
                height: 100vh;
                display: none;
                align-items: center;
                justify-content: center;
                background-color: #1a1a1a;
                overflow: hidden;
    
                img {
                    height: 100%;
                    // max-width: none;
                    // transform: translate(-70px);
                }
                .back {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    height: 100vh;
                    width: 60px;
                    background: rgba($color: #000000, $alpha: .2);
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        padding: 7px;
                        transition: all .3s ease-in-out;
                        transform: rotate(-90deg);
                        background: #fff;
                        display: inline;
                    }
                    .rotate {
                        transform: rotate(90deg);
                    }
                }
            }
            .imagesActive {
                max-width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1394px) {
    .agreement {
        .wrapper {
            .content {
                padding: 50px 30px;
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .agreement {
        .wrapper {
            .content {
                padding: 50px 30px;
                .text {
                    padding: 0px 12px;
                    strong {
                        font-size: 18px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                .table {
                    .tbody {
                        margin-bottom: 30px;
                        border: 1px solid #dedede;
                        border-collapse: collapse;
                        .title {
                            text-align: center;
                            padding: 7px;
                            background: #38af48;
                            color: #fff;
                            font-size: 18px;
                        }
                        tr {
                            border: 1px solid #dedede;
                            border-collapse: collapse;
                            .strong {
                                text-align: center;
                                font-weight: 700;
                            }
                            td {
                                padding: 7px;
                                border-collapse: collapse;
                                border: 1px solid #dedede;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 599px) {
    .agreement {
        .wrapper {
            .content {
                padding: 50px 30px;
                .text {
                    padding: 0px 12px;
                    strong {
                        font-size: 16px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .table {

                    .tbody {
                        margin-bottom: 30px;
                        border: 1px solid #dedede;
                        border-collapse: collapse;
                        .title {
                            text-align: center;
                            padding: 7px;
                            background: #38af48;
                            color: #fff;
                            font-size: 16px;
                        }
                        tr {
                            border: 1px solid #dedede;
                            border-collapse: collapse;
                            .strong {
                                text-align: center;
                                font-weight: 700;
                            }
                            td {
                                padding: 7px;
                                border-collapse: collapse;
                                border: 1px solid #dedede;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .agreement {
        .wrapper {
            .content {
                padding: 50px 30px;
                .text {
                    padding: 0px 12px;
                    strong {
                        font-size: 16px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .table {

                    .tbody {
                        margin-bottom: 30px;
                        border: 1px solid #dedede;
                        border-collapse: collapse;
                        .title {
                            text-align: center;
                            padding: 7px;
                            background: #38af48;
                            color: #fff;
                            font-size: 14px;
                        }
                        tr {
                            border: 1px solid #dedede;
                            border-collapse: collapse;
                            .strong {
                                text-align: center;
                                font-weight: 700;
                            }
                            td {
                                padding: 7px;
                                border-collapse: collapse;
                                border: 1px solid #dedede;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}