
.item {
    position: relative;
    width: 100%;
    .wrapper {
        display: flex;
        .id {
            width: 5%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
        }
        .img {
            width: 15%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            img {
                max-width: 100%;
            }
        }
        .name {
            width: 20%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
        }
        .description {
            width: 27%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
            list-style: none;
            li {
                // width: 100%;
                margin-bottom: 5px;
                padding-bottom: 5px;
                // border-bottom: 1px solid lightgre;
                display: flex;
                // align-items: center;
                .titleSpan {
                    width: 30%;
                    max-height: 34px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #46af48;
                    border-radius: 4px;
                    padding: 3px 7px;
                    strong {
                        // word-wrap: break-word;
                        // width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        color: #fff;
                        text-transform: uppercase;

                        &:last-child {
                            max-width: 100%;
                        }
                    }
                }
                .textSpan {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border: 1px dashed black;
                    max-height: 34px;
                    max-width: 70%;
                    margin-left: 10px;
                    padding: 3px 7px;
                    p {
                        // height: inherit;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        display: inline-block;
                        border-radius: 4px;
                        // padding: 3px 7px;
                        
                        display: inline;
                        // width: 100%;
                        white-space: nowrap;
                        word-wrap: normal;
                        // margin-left: 10px;
                        line-height: 25px;
                        
                    }
                }
                
            }
        }
        .category {
            width: 5%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
        }
        .style {
            width: 5%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
        }
        .price {
            width: 8%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
        }
        .action {
            width: 15%;
            border: 1px solid rgba($color: #000000, $alpha: .15);
            
            padding: 10px 10px;
            padding-top: 20px;
            .buttons {
                width: fit-content;
                margin: 0 auto;
                .change {
                    cursor: pointer;
                    margin-right: 15px;
                    background: rgba($color: blue, $alpha: .3);
                    &:hover {
                        background: rgba($color: blue, $alpha: .6);
                    }
                }
                .delete {
                    cursor: pointer;
                    background: rgba($color: red, $alpha: .3);
                    &:hover {
                        background: rgba($color: red, $alpha: .6);
                    }
                }
            }
        }
    } 
}

