.likeProduct {
    position: relative;
    padding: 60px;
    max-width: fit-content;
    h2 {
        margin-bottom: 30px;
    }

}
@media screen and (max-width: 579px) {
    .likeProduct {
        padding: 30px;
        h2 {
            font-weight: 400;
        }
    }
}
@media screen and (max-width: 579px) {
    .likeProduct {
        padding: 30px;
        h2 {
            font-weight: 400;

        }
    }
}
@media screen and (max-width: 425px) {
    .likeProduct {
        padding: 30px;
        h2 {
            margin-top: 30px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}